.profile-body {
  display: flex;
  flex-direction: column;
}
.profile-main-info {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-left: -10px;
}
.profile-right {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  margin-right: -10px;
  padding-top: 10px;
}

.profile-right-non-main {
  color: black;
}
.profile-right-main {
  color: #9daab1;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  margin-right: 10px;
}

.profile-idea {
  text-align: left;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}
.profile-create-ideas {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 220px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-radius: 10px;
}
.profile-left {
  background-color: white;
  width: 300px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.profile-left-each {
  margin-top: -10px;
  color: gray;
  font-size: 15px;
}
