.ideas-idea {
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.cnct-btn {
  margin-right: 5px;
}
.tooltip-table {
  padding: 0;
}

.tooltip-table tr {
  padding: 0;
}

.tooltip-table tr td {
  padding: 0;
}
